.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

@media (min-width: 768px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8.4rem 4.2rem;
  }
}
