.container {
  list-style: none;
  display: flex;
  align-items: center;
  flex-basis: 33%;
  gap: 2.4rem;
}

.petName {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  object-position: center;
  object-fit: cover;
  border-radius: 16px;
}

.imageContainer {
  flex: 0 0 150px;
  position: relative;
  aspect-ratio: 16 / 9;
}

@media (min-width: 768px) {
  .imageContainer {
    flex: 1 1 auto;
    width: 100%;
    aspect-ratio: 4 / 3;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cta {
  background-color: var(--color-vibrant-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  border-radius: 9999px;
  color: var(--color-white);
  text-decoration: none;
  flex-shrink: 0;
}

.ctaText {
  display: none;
}

.ctaIcon {
  display: block;
  filter: brightness(0) invert(1);
}

@media (min-width: 768px) {
  .cta {
    padding: 1.4rem 1.6rem;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 130px;
  }

  .ctaText {
    display: inline;
  }

  .ctaIcon {
    display: none;
  }
}

.cta:focus-visible {
  outline: 3px solid var(--color-vibrant-blue);
  outline-offset: 3px;
}
